<div class="hello" c:attrs="data['*']" w:widget="./widget">
    Hello $data.name! The current time is ${data.time}
    <div w:el-id="renderTarget">
        
    </div>
    <div class="ebay-logo"></div>
    <optimizer:img src="ebay-logo.png"/>
</div>